@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Montserrat:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

/*убирает стрелочки в type="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*header site*/
.header__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 20px;
  color: #242b2a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 100%;
}

.menu {
  width: 100%;
}
.menu__list {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 25px 0 26px;
  width: 298px;
}
.menu__list a {
  color: #242b2a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.menu__list a:hover {
  color: #dfb748;
}
.menu__lang {
  padding: 23px 0 26px;
}
.menu__lang .tabs > input[type=radio] {
  display: none;
}
.menu__lang .tabs > input[type=radio]:checked + label {
  font-weight: bold;
  color: #dfb748;
  cursor: default;
}
.menu__lang .tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 2px 0;
  transition: color 0.15s ease-in-out;
  cursor: pointer;
  color: #d1d1d1;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.menu__lang .tabs .label-en {
  border: none;
}
.menu__lang .tabs .label-ru {
  border-right: 1px solid #d1d1d1;
  padding-right: 10px;
  margin-right: 10px;
}
.menu__search {
  display: flex;
  gap: 50px;
  width: 465px;
  padding-right: 19px;
}
.menu__search ul {
  display: flex;
  padding: 20px 0 26px;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}
.menu__search ul .tel a {
  color: #242b2a;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.menu__search ul .request a {
  color: #d29f13;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.menu__search ul .request:hover {
  transform: scale(1.05);
}
.menu__search ul .request {
  background: url(../img/Frame.svg) 99% 50% no-repeat;
  padding-right: 23px;
  margin-top: -3px;
  padding-bottom: 6px;
  border-bottom: 1px solid #d29f13;
}

.search__img {
  position: relative;
}
.search__img .search__input {
  position: absolute;
  width: 434px;
  height: 100%;
  top: -10px;
  right: 100%;
  transition: left 1s ease, opacity 1s ease;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #d1d1d1;
  padding: 25px 60px 25px 16px;
  border-radius: 6px;
  z-index: 2;
  visibility: hidden;
}
.search__img .search__input::-moz-placeholder {
  color: var(--Gray-2, #d1d1d1);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.search__img .search__input::placeholder {
  color: var(--Gray-2, #d1d1d1);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.search__img .button-search,
.search__img .button-x {
  position: absolute;
  z-index: 2;
  top: 6px;
  visibility: hidden;
}
.search__img .button-search {
  left: -25px;
}
.search__img .button-x {
  left: 0;
}

.search__img:focus-within .search__input,
.search__img:focus-within .button-search,
.search__img:focus-within .button-x {
  transition: 0.5s;
  right: 0;
  visibility: inherit;
}

.search__img:focus-within::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.header-banner {
  background: url(../img/grap.svg) left/cover no-repeat, #292929;
}
.header-banner .tiger {
  background: url(../img/tiger-1.png) 98% 100%/contain no-repeat;
  padding: 25px 10px 126px;
}
.header-banner .header-banner__title {
  color: var(--White, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}
.header-banner .header-banner__title .this {
  display: inline-block;
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: none;
  position: relative;
  bottom: 16px;
  padding-right: 27px;
}
.header-banner .header-banner__title .eu {
  color: var(--Gold, #d29f13);
}
.header-banner img {
  position: relative;
  top: 132px;
  left: 494px;
}

.header-banner__btn {
  padding-top: 49px;
}
.header-banner__btn button {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.header-banner__btn .header-banner__btn-1 {
  color: var(--White, #fff);
  border-radius: 6px;
  background: var(--Gold, #d29f13);
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 190px;
  margin: 16px 16px 16px 0;
}
.header-banner__btn .header-banner__btn-1:hover {
  box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
}
.header-banner__btn .header-banner__btn-2 {
  color: var(--Gold, #d29f13);
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--Gold, #d29f13);
  background-color: rgba(0, 0, 0, 0);
  width: 174px;
}
.header-banner__btn .header-banner__btn-2:hover {
  box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
}

/*--------------------*/
/* Модальные окна */
.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal__window {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  padding: 50px 62px;
  width: 561px;
  border-radius: 16px;
  margin: 10px;
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}
.modal__close:hover {
  box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
}
.modal__title {
  max-width: 447px;
  color: var(--BG, #242b2a);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.modal__text {
  max-width: 447px;
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 16px 0 30px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.modal__form input,
.modal__form textarea {
  padding: 20px 22px;
  border-radius: 6px;
  background: var(--Light, #f6f6f6);
  width: 100%;
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.modal__form input:focus,
.modal__form textarea:focus {
  border-radius: 6px;
  box-shadow: 0 0 0 1px var(--Gold, #d29f13);
}
.modal__form .modal__message {
  max-height: 110px;
  max-width: 100%;
  resize: none;
}
.modal__label {
  margin: 20px 0 30px;
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.modal__button {
  display: flex;
  width: 100%;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--Gold, #d29f13);
  color: var(--White, #fff);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.modal__button:hover {
  box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
  background-color: #c29a2b;
}

.modal:not(:target) {
  visibility: hidden;
  opacity: 0;
}

.modal__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.modal__checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.modal__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background: var(--Gold, #d29f13);
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.modal__checkbox:checked + label::before {
  background-image: url(../img/check-white.svg);
}

.modal__checkbox:not(:disabled):not(:checked) + label:hover::before {
  background-color: #c29a2b;
  box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
}

.buy__title {
  margin-bottom: 30px;
}

.buy p {
  margin-top: 30px;
  color: var(--Grafite, #343d3b);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.buy .buy__price {
  margin: 5px 0 30px;
  color: var(--BG, #242b2a);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.buy .buy__text {
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.quantity-control {
  display: flex;
  align-items: center;
  width: 170px;
  margin-top: 18px;
}

.quantity-control__button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.quantity-control__decrement {
  background: url(../img/Minus.svg) 50% 50% no-repeat, #fff;
}

.quantity-control__increment {
  background: url(../img/Plus.svg) 50% 50% no-repeat, #fff;
}

.quantity-control__input {
  font-size: 16px;
  text-align: center;
  width: 40px;
  padding: 5px;
  margin: 0 5px;
  color: var(--BG, #242b2a);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  background: var(--Light, #f6f6f6);
  width: 66px;
  height: 50px;
}

/*--------------------*/
/*catalog site*/
.breadcrumbs {
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-top: 37px;
}
.breadcrumbs a {
  color: var(--BG, #242b2a);
}
.breadcrumbs span {
  margin: 0 16px;
  color: var(--Gold, #d29f13);
}
.breadcrumbs p {
  color: var(--Gray-2, #d1d1d1);
}

.catalog__head {
  padding: 50px 0 0;
}
.catalog__filter {
  display: flex;
  gap: 16px;
}
.catalog__search {
  position: relative;
}
.catalog__search-input {
  width: 338px;
  padding: 17px 22px;
  border-radius: 6px;
  background: var(--Light2, #fbfbfb);
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.catalog__search-input::-moz-placeholder {
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.catalog__search-input::placeholder {
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.catalog__search-button {
  position: absolute;
  top: 16px;
  left: 292px;
}
.catalog__dropdown {
  position: relative;
  display: inline-block;
}
.catalog__dropdown-btn {
  display: flex;
  width: 238px;
  padding: 17px 22px;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  background: var(--Light2, #fbfbfb);
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.catalog__dropdown-btn span {
  color: #d29f13;
  font-weight: bold;
}
.catalog__dropdown-item {
  display: flex;
  flex-direction: column;
}
.catalog__dropdown-content {
  display: none;
  width: 238px;
  padding: 15px 20px 0;
  position: absolute;
  top: 1px;
  border-radius: 6px;
  background: var(--Light2, #fbfbfb);
  box-shadow: 0px 4px 45px 0px rgba(36, 43, 42, 0.1);
  z-index: 2;
}
.catalog__dropdown-content a {
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10px;
}
.catalog__dropdown-content a:hover {
  color: var(--Gold, #d29f13);
}
.catalog__dropdown-content a:first-child {
  color: var(--BG, #242b2a);
  font-size: 18px;
}
.catalog__dropdown-content a span {
  display: inline-block;
  color: #d29f13;
  font-weight: bold;
  transform: rotate(180deg);
  float: right;
}
.catalog__dropdown:hover .catalog__dropdown-content {
  display: block;
}
.catalog__cards {
  padding: 60px 0 114px;
  display: flex;
  flex-wrap: wrap;
}

/*media queries site*/
@media screen and (max-width: 1267px) {
  .features__list li:nth-child(4) {
    left: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .menu__lang {
    padding: 23px 10px 26px;
  }
  .menu__search {
    float: right;
    margin-left: auto;
  }
  .about {
    padding: 100px 0;
  }
  .about h2 {
    font-size: 34px;
  }
  .features__content {
    display: flex;
  }
  .features__list {
    padding-top: 30px;
  }
  .features__list li {
    position: static;
    margin-bottom: 15px;
  }
  .features__img {
    padding-top: 30px;
  }
  .carousel__card {
    flex: 0 0 100%;
  }
  .card-prev {
    display: flex;
    border-radius: 16px;
    background: var(--Light, #f6f6f6);
    padding: 45px 0;
    max-width: 100%;
  }
  .carousel__card:nth-child(odd) {
    margin-right: 0;
  }
  .feedback__box {
    padding-left: 50px;
  }
  .footer__center {
    padding: 0;
  }
  .footer__right {
    margin-right: 20px;
  }
  .footer__right ul {
    flex-direction: column;
    gap: 15px;
  }
}
@media screen and (max-width: 900px) {
  .about {
    padding: 50px 0;
  }
  .about__img {
    display: none;
  }
  .about__box {
    max-width: 100%;
  }
  .card-prev__img {
    margin: 0 auto;
  }
  .card-prev__img img {
    min-width: 140px;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 819px) {
  .header-banner .header-banner__title {
    font-size: 45px;
  }
  .header-banner img {
    top: 116px;
    left: 366px;
  }
  .header-banner__title {
    font-size: 45px;
  }
  .about__head {
    flex-wrap: wrap;
  }
  .features__img {
    display: none;
  }
  .product {
    padding: 50px 0;
  }
  .product__width {
    padding: 0 45px;
  }
  .product__head {
    flex-wrap: wrap;
  }
  .product__head h2 {
    width: auto;
  }
  .product__head p {
    width: auto;
  }
  .feedback {
    padding-bottom: 50px;
  }
  .feedback__info {
    max-width: 100%;
  }
  .feedback__box {
    flex-wrap: wrap;
  }
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__address {
    margin-bottom: 20px;
  }
  .footer__right ul {
    flex-direction: row;
    gap: 40px;
  }
}
@media screen and (max-width: 530px) {
  .menu__list {
    gap: 30px;
    width: auto;
  }
  .menu__search ul {
    flex-wrap: wrap;
    gap: 20px;
  }
  .menu__search ul .tel {
    margin-right: 34%;
  }
  .search__img .search__input {
    width: 300px;
  }
  .header-banner .header-banner__title {
    font-size: 31px;
  }
  .header-banner img {
    position: inherit;
  }
  .header-banner__btn .header-banner__btn-2 {
    width: 190px;
  }
  .about__item {
    display: block;
  }
  .about__item .about__heading {
    width: 100%;
    margin-bottom: 10px;
  }
  .about__item .about__info {
    width: 100%;
  }
  .product__width {
    padding: 0 10px;
  }
  .carousel__arrow--prev {
    left: -9px;
    bottom: 86px;
  }
  .carousel__arrow--next {
    right: -9px;
    bottom: 86px;
  }
  .card-prev__btn-2 {
    padding: 20px 29px;
  }
  .card-prev__title {
    font-size: 25px;
    margin: 0;
  }
  .card-prev__text {
    font-size: 14px;
    max-height: auto;
  }
  .card-prev button {
    position: relative;
    right: 50px;
  }
  .product__tabs > label {
    margin-bottom: 15px;
  }
  .modal__window {
    padding: 20px 20px;
  }
  .modal__title {
    font-size: 24px;
    margin-top: 10px;
  }
  .modal__text {
    margin: 10px 0;
  }
  .modal__label {
    margin: 10px 0;
  }
  .modal__message {
    max-height: 70px !important;
  }
  .buy__title {
    margin-bottom: 10px;
  }
  .buy p {
    margin-top: 10px;
  }
  .buy .buy__price {
    margin-bottom: 10px;
  }
}
/*main site*/
.about {
  padding: 105px 0 130px;
}
.about__head {
  display: flex;
}
.about__name {
  color: var(--Gold, #d29f13);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-right: 77px;
  padding-top: 22px;
  min-width: 43px;
}
.about h2 {
  max-width: 1162px;
  color: var(--Dark, #242b2a);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.about__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.about__box {
  padding-top: 42px;
  flex-grow: 1;
  max-width: 62.1527777778%;
}
.about__item {
  display: flex;
  justify-content: space-between;
  padding: 36px 0 36px 0;
  border-bottom: 1px solid #dfb748;
}
.about__item .about__icon {
  padding-right: 20px;
}
.about__item .about__heading {
  width: min(36%, 330px);
  color: var(--Dark, #242b2a);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding-left: 51px;
  padding: 0 5px 0 51px;
}
.about__item .about__info {
  width: min(47%, 449px);
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.about__item:nth-child(3) {
  border: none;
}

.about__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__img img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.about__item:nth-child(1) .about__heading {
  background: url(../img/about-1.svg) 1% 12% no-repeat;
}

.about__item:nth-child(2) .about__heading {
  background: url(../img/about-2.svg) 1% 12% no-repeat;
}

.about__item:nth-child(3) .about__heading {
  background: url(../img/about-3.svg) 1% 12% no-repeat;
}

.features {
  padding: 72px 0 72px 0;
  background: url(../img/features.png) 50% 50% no-repeat, var(--Gray-3, #f3f3f3);
}
.features__img {
  padding-top: 61px;
  display: block;
  margin: 0 auto;
}
.features__title {
  color: var(--Grafite, #343d3b);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.features__title span {
  color: var(--Gold, #d29f13);
}
.features__list {
  position: relative;
}
.features__list li {
  position: absolute;
  max-width: 312px;
  color: var(--Grafite, #343d3b);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  background: url(../img/features-list.png) 1% 6% no-repeat;
  padding-left: 45px;
}
.features__list li:nth-child(1) {
  top: 59px;
  right: 157px;
  max-width: 341px;
}
.features__list li:nth-child(2) {
  top: 157px;
  left: 88px;
}
.features__list li:nth-child(3) {
  top: 243px;
  right: 69px;
  max-width: 400px;
}
.features__list li:nth-child(4) {
  top: 359px;
  left: 197px;
}

.product {
  padding-top: 140px;
  width: 100%;
}
.product__width {
  max-width: 1540px;
  padding: 0 60px;
}

.product__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.product__head h2 {
  color: var(--Dark, #242b2a);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  width: 34.1549295775%;
  padding-top: 20px;
}
.product__head h2 span {
  color: var(--Gold, #d29f13);
}
.product__head p {
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  width: 46.9718309859%;
}
.product__head p span {
  color: var(--Gold, #d29f13);
  padding-right: 5px;
}

.card-prev {
  display: flex;
  border-radius: 16px;
  background: var(--Light, #f6f6f6);
  padding: 45px 0;
  max-width: calc(50% - 14px);
}
.card-prev__img {
  margin-right: 8%;
}
.card-prev__info {
  text-align: left;
}
.card-prev__title {
  color: var(--Dark-Gray, #333938);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  max-width: 245px;
  margin: 20px 0;
}
.card-prev__text {
  color: var(--Dark-Gray, #333938);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  height: 144px;
  margin-bottom: 79px;
}
.card-prev button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
  margin: 14px 10px 0 0;
  border-radius: 6px;
}
.card-prev button:hover {
  box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
}
.card-prev__btn-1 {
  padding: 20px 40px;
  background: var(--Gold, #d29f13);
  color: #f3f3f3;
}
.card-prev__btn-2 {
  padding: 20px 40px;
  border: 1px solid var(--Gold, #d29f13);
  background-color: rgba(0, 0, 0, 0);
  color: #d29f13;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.carousel__cards {
  display: flex;
  overflow: hidden;
  width: -moz-max-content;
  width: max-content;
  scroll-behavior: smooth;
  transition: transform 0.5s ease-in-out;
}

.carousel__card {
  flex: 0 0 calc(50% - 14px);
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 28px;
}

.carousel__card:nth-child(odd) {
  margin-right: 28px;
}

.carousel__arrow {
  font-size: 24px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  width: 82px;
  height: 82px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 48px;
  background: var(--Gray, #808080);
}
.carousel__arrow:hover {
  background-color: #d29f13;
}

.carousel__arrow--prev {
  background: url(../img/arrow-right.png) 50% no-repeat, var(--Gray, #808080);
  position: absolute;
  left: -43px;
  bottom: 215px;
  transform: rotate(180deg);
}

.carousel__arrow--next {
  background: url(../img/arrow-right.png) 50% no-repeat, var(--Gray, #808080);
  position: absolute;
  right: -43px;
  bottom: 215px;
}

.product__tabs {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.product__tabs > input[type=radio] {
  display: none;
}

.product__tabs > input[type=radio]:checked + label {
  font-weight: bold;
  background: var(--Gold, #d29f13);
  color: var(--White, #fff);
  cursor: default;
}

.product__tabs > div {
  display: none;
}

#tab-btn-3:checked ~ #content-3,
#tab-btn-4:checked ~ #content-4,
#tab-btn-5:checked ~ #content-5 {
  display: block;
}

.product__tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding: 12px 22px;
  border-radius: 40px;
  border: 1px solid var(--Gray-2, #d1d1d1);
  margin-right: 14px;
  cursor: pointer;
  margin-bottom: 60px;
}
.product__tabs > label:hover {
  box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
}

.product__tabs > label:first-of-type {
  margin-left: 0;
}

.product__btn {
  display: block;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
  margin-top: 13px;
}
.product__btn:hover {
  box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
}

.feedback {
  padding: 140px 10px 140px;
}
.feedback__box {
  display: flex;
  width: 100%;
  background: url(../img/feedback-barrel.png) 100% 150%/contain no-repeat, url(../img/feedback-background.png) 50% 50%/cover no-repeat, url(../img/feedback-logo.svg) 100% 100%/contain no-repeat, #292929;
  padding: 60px 0 60px 113px;
  border-radius: 16px;
}
.feedback__info {
  margin-right: 148px;
  max-width: 345px;
}
.feedback__info h2 {
  color: var(--White, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 20px;
}
.feedback__info p {
  color: var(--Gray-2, #d1d1d1);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.feedback__info p span {
  color: var(--Gold, #d29f13);
}
.feedback__form {
  width: 447px;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
}
.feedback__form input {
  display: flex;
  padding: 20px 22px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  color: var(--Light, #f6f6f6);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
  margin-bottom: 12px;
  margin: 0 10px 12px 0;
}
.feedback__form input::-moz-placeholder {
  color: var(--Light, #f6f6f6);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.feedback__form input::placeholder {
  color: var(--Light, #f6f6f6);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.feedback__form label {
  color: #d2d2d2;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 8px 0 30px;
}
.feedback__form button {
  width: 196px;
  height: 59px;
  padding: 20px 55px;
  color: var(--White, #fff);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
  border-radius: 6px;
  background: var(--Gold, #d29f13);
}
.feedback__form button:hover {
  box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
}

.footer {
  background: #292929;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 55px 0;
}
.footer__left {
  display: flex;
  flex-direction: column;
}
.footer__left img {
  margin-bottom: 16px;
}
.footer__left a {
  color: var(--Gray-2, #d1d1d1);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0 0 13px 20px;
}
.footer__center {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 8%;
}
.footer__center a {
  color: var(--White, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.footer__center p {
  color: var(--Gray-2, #d1d1d1);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.footer__right {
  margin-right: 58px;
}
.footer__right ul {
  display: flex;
  gap: 54px;
  margin-bottom: 30px;
}
.footer__right ul li a {
  color: var(--White, #fff);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.footer__right ul li a:hover {
  color: #dfb748;
}
.footer__right .footer__link {
  background: url(../img/Frame.svg) 99% 50% no-repeat;
  padding-right: 23px;
  margin-top: -3px;
  padding-bottom: 6px;
  border-bottom: 1px solid #d29f13;
  color: var(--Gold, #d29f13);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.64px;
  float: right;
}
.footer__right .footer__link:hover {
  transform: scale(1.05);
}

.button-up {
  display: none;
  position: fixed;
  bottom: 258px;
  right: 262px;
  width: 82px;
  height: 82px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 48px;
  background: var(--Gray, #808080);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), -732px 0px 205px 0px rgba(0, 0, 0, 0);
}/*# sourceMappingURL=style.css.map */