@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Montserrat:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Модальные окна*/
#order {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
#order .order__window {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  padding: 50px 62px;
  width: 561px;
  border-radius: 16px;
  margin: 10px;
}
#order .order__window .order__close {
  position: absolute;
  top: 20px;
  right: 10px;
}
#order .order__window .order__title {
  max-width: 447px;
  color: var(--BG, #242b2a);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
#order .order__window .order__text {
  max-width: 447px;
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 16px 0 30px;
}
#order .order__window .order__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
#order .order__window .order__form input,
#order .order__window .order__form textarea {
  padding: 20px 22px;
  border-radius: 6px;
  background: var(--Light, #f6f6f6);
  width: 100%;
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
}
#order .order__window .order__form .order__message {
  max-height: 110px;
  max-width: 100%;
  resize: none;
}
#order .order__window .order__label {
  margin: 20px 0 30px;
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
#order .order__window .order__button {
  display: flex;
  width: 446px;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--Gold, #d29f13);
  color: var(--White, #fff);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
}
#order .order__window .order__button:hover {
  transform: scale(1.01);
  background-color: #c29a2b;
}

#order:not(:target) {
  visibility: hidden;
  opacity: 0;
}

.order__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.order__checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.order__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background: var(--Gold, #d29f13);
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.order__checkbox:checked + label::before {
  background-image: url(../img/check-white.svg);
}

.order__checkbox:not(:disabled):not(:checked) + label:hover::before {
  background-color: #c29a2b;
}

/*--------------------*/
html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 20px;
  color: #242b2a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 100%;
}

.menu {
  width: 100%;
}
.menu__list {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 25px 0 26px;
  width: 298px;
}
.menu__list a {
  color: #242b2a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.menu__list a:hover {
  color: #dfb748;
}
.menu__lang {
  padding: 23px 0 26px;
}
.menu__lang .tabs > input[type=radio] {
  display: none;
}
.menu__lang .tabs > input[type=radio]:checked + label {
  font-weight: bold;
  color: #dfb748;
  cursor: default;
}
.menu__lang .tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 2px 0;
  transition: color 0.15s ease-in-out;
  cursor: pointer;
  color: #d1d1d1;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.menu__lang .tabs .label-en {
  border: none;
}
.menu__lang .tabs .label-ru {
  border-right: 1px solid #d1d1d1;
  padding-right: 10px;
  margin-right: 10px;
}
.menu__search {
  display: flex;
  gap: 50px;
  width: 465px;
  padding-right: 19px;
}
.menu__search ul {
  display: flex;
  padding: 20px 0 26px;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}
.menu__search ul .tel a {
  color: #242b2a;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.menu__search ul .request a {
  color: #d29f13;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.menu__search ul .request:hover {
  transform: scale(1.05);
}
.menu__search ul .request {
  background: url(../img/Frame.svg) 99% 50% no-repeat;
  padding-right: 23px;
  margin-top: -3px;
  padding-bottom: 6px;
  border-bottom: 1px solid #d29f13;
}

.search__img .search__field {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.search__img .search__field .search__input {
  position: absolute;
  width: 434px;
  height: 100%;
  top: 1;
  right: 100%;
  transition: left 1s ease, opacity 1s ease;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #d1d1d1;
  padding: 15px 16px;
  border-radius: 6px;
  z-index: 2;
  visibility: hidden;
}
.search__img .search__field .button-search {
  position: absolute;
  z-index: 2;
  left: -20px;
  top: 6px;
  visibility: hidden;
}
.search__img .search__field .button-x {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 6px;
  visibility: hidden;
}

.search__img:focus-within .search__input,
.search__img:focus-within .button-search,
.search__img:focus-within .button-x {
  right: 0;
  visibility: inherit;
}

.search__img:focus-within::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.header-banner {
  background-image: url(../img/header-tiger.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #292929;
  width: 100%;
  height: 625px;
  padding: 25px 0 126px;
}
.header-banner .header-banner__title {
  color: var(--White, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}
.header-banner .header-banner__title .this {
  display: inline-block;
  color: var(--Gray, #808080);
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: none;
  position: relative;
  bottom: 16px;
  padding-right: 27px;
}
.header-banner .header-banner__title .eu {
  color: var(--Gold, #d29f13);
}
.header-banner img {
  position: relative;
  top: 132px;
  left: 494px;
}

.header-banner__btn {
  padding-top: 49px;
}
.header-banner__btn button {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.header-banner__btn .header-banner__btn-1 {
  color: var(--White, #fff);
  border-radius: 6px;
  background: var(--Gold, #d29f13);
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 190px;
  margin: 16px 16px 16px 0;
}
.header-banner__btn .header-banner__btn-1:hover {
  box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
}
.header-banner__btn .header-banner__btn-2 {
  color: var(--Gold, #d29f13);
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--Gold, #d29f13);
  background-color: rgba(0, 0, 0, 0);
  width: 174px;
}
.header-banner__btn .header-banner__btn-2:hover {
  box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
}/*# sourceMappingURL=style.css.map */