@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

$Lato: "Lato", sans-serif;
$Inter: "Inter", sans-serif;
$Manrope: "Manrope", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$wid: 1440px * 100%;

// Файл обнуляющих стилей
@import "_nullstyle.scss";
//файл модальных окон
@import "_modal.scss";

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    &__menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px 0 20px;
        color: #242b2a;
        font-family: $Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        width: 100%;
    }
}

.menu {
    width: 100%;
    &__list {
        display: flex;
        align-items: flex-start;
        gap: 50px;
        padding: 25px 0 26px;
        width: 298px;
        a {
            color: #242b2a;
            font-family: $Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
        a:hover {
            color: #dfb748;
        }
    }

    &__lang {
        padding: 23px 0 26px;
        .tabs > input[type="radio"] {
            display: none;
        }

        .tabs > input[type="radio"]:checked + label {
            font-weight: bold;
            color: #dfb748;
            cursor: default;
        }

        .tabs > label {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            padding: 2px 0;
            transition: color 0.15s ease-in-out;
            cursor: pointer;
            color: #d1d1d1;
            font-family: "Lato", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }

        .tabs .label-en {
            border: none;
        }

        .tabs .label-ru {
            border-right: 1px solid #d1d1d1;
            padding-right: 10px;
            margin-right: 10px;
        }
    }

    &__search {
        display: flex;
        gap: 50px;
        width: 465px;
        padding-right: 19px;
        ul {
            display: flex;
            padding: 20px 0 26px;
            align-items: center;
            gap: 50px;
            margin-left: auto;
            .tel a {
                color: #242b2a;
                font-family: $Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
            }
            .request a {
                color: #d29f13;
                font-family: $Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 0.64px;
            }
            .request:hover {
                transform: scale(1.05);
            }
            .request {
                background: url(../img/Frame.svg) 99% 50% no-repeat;
                padding-right: 23px;
                margin-top: -3px;
                padding-bottom: 6px;
                border-bottom: 1px solid #d29f13;
            }
        }
    }
}

.search__img {
    .search__field {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        .search__input {
            position: absolute;
            width: 434px;
            height: 100%;
            top: 1;
            right: 100%;
            transition:
                left 1s ease,
                opacity 1s ease;
            outline: none;
            font-family: $Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            color: #d1d1d1;
            padding: 15px 16px;
            border-radius: 6px;
            z-index: 2;
            visibility: hidden;
        }

        .button-search {
            position: absolute;
            z-index: 2;
            left: -20px;
            top: 6px;
            visibility: hidden;
        }

        .button-x {
            position: absolute;
            z-index: 2;
            left: 0px;
            top: 6px;
            visibility: hidden;
        }
    }
}
.search__img:focus-within .search__input,
.search__img:focus-within .button-search,
.search__img:focus-within .button-x {
    right: 0;
    visibility: inherit;
}

.search__img:focus-within::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.header-banner {
    background-image: url(../img/header-tiger.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #292929;
    width: 100%;
    height: 625px;
    padding: 25px 0 126px;

    .header-banner__title {
        color: var(--White, #fff);
        font-family: $Montserrat;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        text-transform: uppercase;
        // background: url(../img/logo-eu-1.png) 38% 23%;
        .this {
            display: inline-block;
            color: var(--Gray, #808080);
            font-family: $Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            text-transform: none;
            position: relative;
            bottom: 16px;
            padding-right: 27px;
        }
        .eu {
            color: var(--Gold, #d29f13);
        }
    }
    img {
        position: relative;
        top: 132px;
        left: 494px;
    }
}

.header-banner__btn {
    & button {
        font-family: $Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.64px;
    }
    padding-top: 49px;
    .header-banner__btn-1 {
        color: var(--White, #fff);
        border-radius: 6px;
        background: var(--Gold, #d29f13);
        display: inline-flex;
        padding: 20px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 190px;
        margin: 16px 16px 16px 0;
        &:hover {
            box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
        }
    }
    .header-banner__btn-2 {
        color: var(--Gold, #d29f13);
        display: inline-flex;
        padding: 20px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        border: 1px solid var(--Gold, #d29f13);
        background-color: rgba(0, 0, 0, 0);
        width: 174px;
        &:hover {
            box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
        }
    }
}
