@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

$Lato: "Lato", sans-serif;
$Inter: "Inter", sans-serif;
$Manrope: "Manrope", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$wid: 1440px * 100%;

// Файл обнуляющих стилей
@import "_nullstyle.scss";

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

/*убирает стрелочки в type="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//Файл стилий header
@import "_header.scss";
//файл модальных окон
@import "_modal.scss";

/*main site*/

.about {
    padding: 105px 0 158px;

    &__head {
        display: flex;
    }

    &__name {
        color: var(--Gold, #d29f13);
        font-family: $Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-right: 77px;
        padding-top: 22px;
        min-width: 43px;
    }
    & h2 {
        max-width: 1162px;
        color: var(--Dark, #242b2a);
        font-family: $Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__box {
        padding-top: 42px;
        flex-grow: 1;
        max-width: 895px / 1440px * 100%;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 36px 0 36px 0;
        border-bottom: 1px solid #dfb748;

        .about__icon {
            padding-right: 20px;
        }
        .about__heading {
            width: min(36%, 330px);
            color: var(--Dark, #242b2a);
            font-family: $Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            padding-left: 51px;
            padding: 0 5px 0 51px;
        }

        .about__info {
            width: min(47%, 449px);
            color: var(--Gray, #808080);
            font-family: $Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }
    &__item:nth-child(3) {
        border: none;
    }
}
.about__img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}
.about__item:nth-child(1) .about__heading {
    background: url(../img/about-1.svg) 1% 12% no-repeat;
}

.about__item:nth-child(2) .about__heading {
    background: url(../img/about-2.svg) 1% 12% no-repeat;
}

.about__item:nth-child(3) .about__heading {
    background: url(../img/about-3.svg) 1% 12% no-repeat;
}

.features {
    padding: 72px 0 72px 0;
    background:
        url(../img/features.png) 50% 50% no-repeat,
        var(--Gray-3, #f3f3f3);
    &__img {
        padding-top: 61px;
        display: block;
        margin: 0 auto;
    }
    &__title {
        color: var(--Grafite, #343d3b);
        font-family: $Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        span {
            color: var(--Gold, #d29f13);
        }
    }
    &__list {
        position: relative;
    }
    &__list li {
        position: absolute;
        max-width: 312px;
        color: var(--Grafite, #343d3b);
        font-family: $Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        background: url(../img/features-list.png) 1% 6% no-repeat;
        padding-left: 45px;
    }

    &__list li:nth-child(1) {
        top: 59px;
        right: 157px;
        max-width: 341px;
    }
    &__list li:nth-child(2) {
        top: 157px;
        left: 88px;
    }
    &__list li:nth-child(3) {
        top: 243px;
        right: 69px;
        max-width: 400px;
    }
    &__list li:nth-child(4) {
        top: 359px;
        left: 197px;
    }
}

.product {
    padding: 140px 0;
    width: 100%;
    &__width {
        max-width: 1540px;
        padding: 0 60px;
    }
}
.product__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    h2 {
        color: var(--Dark, #242b2a);
        font-family: $Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        width: 485px / 1420px * 100%;
        padding-top: 20px;
        span {
            color: var(--Gold, #d29f13);
        }
    }
    p {
        color: var(--Gray, #808080);
        font-family: $Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        width: 667px / 1420px * 100%;
        span {
            color: var(--Gold, #d29f13);
            padding-right: 5px;
        }
    }
}

.card-prev {
    display: flex;
    border-radius: 16px;
    background: var(--Light, #f6f6f6);
    padding: 45px 0;
    max-width: calc(50% - 14px);
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8%;
    }
    &__info {
        text-align: left;
    }
    &__title {
        color: var(--Dark-Gray, #333938);
        font-family: $Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        max-width: 245px;
        margin: 20px 0 20px;
    }
    &__text {
        color: var(--Dark-Gray, #333938);
        font-family: $Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        height: 144px;
        margin-bottom: 79px;
    }
    & button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-family: $Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.64px;
        margin: 14px 10px 0 0;
        border-radius: 6px;
    }
    & button:hover {
        box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
    }
    &__btn-1 {
        padding: 20px 40px;
        background: var(--Gold, #d29f13);
        color: #f3f3f3;
    }
    &__btn-2 {
        padding: 20px 40px;
        border: 1px solid var(--Gold, #d29f13);
        background-color: rgba(0, 0, 0, 0);
        color: #d29f13;
    }
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.carousel__cards {
    display: flex;
    overflow: hidden;
    width: max-content;
    scroll-behavior: smooth;
    transition: transform 0.5s ease-in-out;
}

.carousel__card {
    flex: 0 0 calc(50% - 14px);
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 28px;
}

.carousel__card:nth-child(odd) {
    margin-right: 28px;
}

.carousel__arrow {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    display: flex;
    width: 82px;
    height: 82px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 48px;
    background: var(--Gray, #808080);
    &:hover {
        background-color: #d29f13;
    }
}

.carousel__arrow--prev {
    background:
        url(../img/arrow-right.png) 50% no-repeat,
        var(--Gray, #808080);
    position: absolute;
    left: -43px;
    bottom: 215px;
    transform: rotate(180deg);
}

.carousel__arrow--next {
    background:
        url(../img/arrow-right.png) 50% no-repeat,
        var(--Gray, #808080);
    position: absolute;
    right: -43px;
    bottom: 215px;
}

.product__tabs {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.product__tabs > input[type="radio"] {
    display: none;
}

.product__tabs > input[type="radio"]:checked + label {
    font-weight: bold;
    background: var(--Gold, #d29f13);
    color: var(--White, #fff);
    cursor: default;
}

.product__tabs > div {
    display: none;
}

#tab-btn-3:checked ~ #content-3,
#tab-btn-4:checked ~ #content-4,
#tab-btn-5:checked ~ #content-5 {
    display: block;
}

.product__tabs > label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    color: var(--Gray, #808080);
    font-family: $Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding: 12px 22px;
    border-radius: 40px;
    border: 1px solid var(--Gray-2, #d1d1d1);
    margin-right: 14px;
    cursor: pointer;
    margin-bottom: 60px;
    &:hover {
        box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
    }
}

.product__tabs > label:first-of-type {
    margin-left: 0;
}

.product__btn {
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 6px;
    font-family: $Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.64px;
    margin-top: 13px;
    &:hover {
        box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
    }
}

.feedback {
    padding-bottom: 140px;
    padding: 0 10px 140px;
    &__box {
        display: flex;
        width: 100%;
        background:
            url(../img/feedback-barrel.png) 100% 150% / contain no-repeat,
            url(../img/feedback-background.png) 50% 50% / cover no-repeat,
            url(../img/feedback-logo.svg) 100% 100% / contain no-repeat,
            #292929;
        padding: 60px 0 60px 113px;
        border-radius: 16px;
    }
    &__info {
        margin-right: 148px;
        max-width: 345px;
        h2 {
            color: var(--White, #fff);
            font-family: $Montserrat;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            margin-bottom: 20px;
        }
        p {
            color: var(--Gray-2, #d1d1d1);
            font-family: $Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            span {
                color: var(--Gold, #d29f13);
            }
        }
    }
    &__form {
        width: 447px;
        padding-top: 21px;
        display: flex;
        flex-direction: column;
        input {
            display: flex;
            padding: 20px 22px;
            align-items: center;
            gap: 10px;
            border-radius: 6px;
            background: rgba(255, 255, 255, 0.5);
            color: var(--Light, #f6f6f6);
            font-family: $Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0.64px;
            margin-bottom: 12px;
            margin: 0 10px 12px 0;
            &::placeholder {
                color: var(--Light, #f6f6f6);
                font-family: $Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0.64px;
            }
        }
        & label {
            color: #d2d2d2;
            font-family: $Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            margin: 8px 0 30px;
        }
        & button {
            width: 196px;
            height: 59px;
            padding: 20px 55px;
            color: var(--White, #fff);
            font-family: $Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0.64px;
            border-radius: 6px;
            background: var(--Gold, #d29f13);
            &:hover {
                box-shadow: 0 14px 30px rgba(223, 183, 72, 0.5);
            }
        }
    }
}

.footer {
    background: #292929;
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 60px 0;
    }
    &__left {
        display: flex;
        flex-direction: column;
        img {
            margin-bottom: 16px;
        }
        a {
            color: var(--Gray-2, #d1d1d1);
            font-family: $Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            margin: 0 0 13px 20px;
        }
    }
    &__center {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-left: 8%;
        a {
            color: var(--White, #fff);
            font-family: $Montserrat;
            font-size: 38px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
        }
        p {
            color: var(--Gray-2, #d1d1d1);
            font-family: $Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
        }
    }
    &__right {
        margin-right: 58px;
        ul {
            display: flex;
            gap: 54px;
            margin-bottom: 30px;
            li a {
                color: var(--White, #fff);
                font-family: $Lato;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                &:hover {
                    color: #dfb748;
                }
            }
        }
        .footer__link {
            background: url(../img/Frame.svg) 99% 50% no-repeat;
            padding-right: 23px;
            margin-top: -3px;
            padding-bottom: 6px;
            border-bottom: 1px solid #d29f13;
            color: var(--Gold, #d29f13);
            font-family: $Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 0.64px;
            float: right;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

@media screen and (max-width: 1267px) {
    .features__list li:nth-child(4) {
        left: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .menu__lang {
        padding: 23px 10px 26px;
    }
    .menu__search {
        float: right;
        margin-left: auto;
    }
    .about {
        padding: 100px 0;
        & h2 {
            font-size: 34px;
        }
    }

    .features {
        &__content {
            display: flex;
        }
        &__list {
            padding-top: 30px;
            li {
                position: static;
                margin-bottom: 15px;
            }
        }
        &__img {
            padding-top: 30px;
        }
    }

    .carousel__card {
        flex: 0 0 100%;
    }

    .card-prev {
        display: flex;
        border-radius: 16px;
        background: var(--Light, #f6f6f6);
        padding: 45px 0;
        max-width: 100%;
    }
    .carousel__card:nth-child(odd) {
        margin-right: 0;
    }

    .feedback__box {
        padding-left: 50px;
    }

    .footer {
        &__center {
            padding: 0;
        }
        &__right {
            margin-right: 20px;
            ul {
                flex-direction: column;
                gap: 15px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .about {
        padding: 50px 0;
        &__img {
            display: none;
        }
        &__box {
            max-width: 100%;
        }
    }

    .card-prev__img {
        margin: 0 auto;
        img {
            min-width: 140px;
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 819px) {
    .header-banner {
        .header-banner__title {
            font-size: 45px;
        }
        & img {
            top: 116px;
            left: 366px;
        }
    }
    .header-banner__title {
        font-size: 45px;
    }

    .about__head {
        flex-wrap: wrap;
    }

    .features__img {
        display: none;
    }

    .product {
        padding: 50px 0;
        &__width {
            padding: 0 45px;
        }
        &__head {
            flex-wrap: wrap;
            h2 {
                width: auto;
            }
            p {
                width: auto;
            }
        }
    }

    .feedback {
        padding-bottom: 50px;
        &__info {
            max-width: 100%;
        }
        &__box {
            flex-wrap: wrap;
        }
    }

    .footer {
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__address {
            margin-bottom: 20px;
        }

        &__right ul {
            flex-direction: row;
            gap: 40px;
        }
    }
}

@media screen and (max-width: 530px) {

    .menu__list {
        gap: 35px;
        width: auto;
    }
    .menu__search {
        ul {
            flex-wrap: wrap;
            gap: 20px;
        }

        & ul .tel a {
            margin-right: 140px;
        }
    }
    .search__img .search__input {
        width: 350px;
    }

    .header-banner {
        .header-banner__title {
            font-size: 31px;
        }
        & img {
            position: inherit;
        }
    }

    .header-banner__btn .header-banner__btn-2 {
        width: 190px;
    }

    .about__item {
        display: block;
        .about__heading {
            width: 100%;
            margin-bottom: 10px;
        }
        .about__info {
            width: 100%;
        }
    }

    .product__width {
        padding: 0 10px;
    }

    .carousel__arrow--prev {
        left: -9px;
        bottom: 86px;
    }

    .carousel__arrow--next {
        right: -9px;
        bottom: 86px;
    }

    .card-prev__btn-2 {
        padding: 20px 29px;
    }

    .product__tabs > label {
        margin-bottom: 15px;
    }

    .modal__window {
        padding: 20px 20px;
    }
}
