@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

$Lato: "Lato", sans-serif;
$Inter: "Inter", sans-serif;
$Manrope: "Manrope", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$wid: 1440px * 100%;

// Файл обнуляющих стилей
@import "_nullstyle.scss";

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

//Файл стилий header
@import "_header.scss";
//файл модальных окон
@import "_modal.scss";

/*main site*/

.about {
    padding: 106px 0 140px;

    &__head {
        display: flex;
    }

    &__name {
        color: var(--Gold, #d29f13);
        font-family: $Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-right: 77px;
        padding-top: 22px;
        min-width: 43px;
    }
    & h2 {
        max-width: 1162px;
        color: var(--Dark, #242b2a);
        font-family: $Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__box {
        padding-top: 42px;
        flex-grow: 1;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 36px 0 36px 0;
        border-bottom: 1px solid #dfb748;

        .about__icon {
            padding-right: 20px;
        }
        .about__heading {
            max-width: 325px;
            color: var(--Dark, #242b2a);
            font-family: $Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            padding-left: 51px;
            padding: 0 5px 0 51px;
        }

        .about__info {
            max-width: 449px;
            color: var(--Gray, #808080);
            font-family: $Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }
    &__item:nth-child(3) {
        border: none;
    }
}
.about__img {
    max-width: 100%;
    height: auto;
}
.about__item:nth-child(1) .about__heading {
    background: url(../img/about-1.svg) 1% 12% no-repeat;
}

.about__item:nth-child(2) .about__heading {
    background: url(../img/about-2.svg) 1% 12% no-repeat;
}

.about__item:nth-child(3) .about__heading {
    background: url(../img/about-3.svg) 1% 12% no-repeat;
}

.features {
    padding: 60px 0 72px 0;
    background:
        url(../img/features.png) 50% 50% no-repeat,
        var(--Gray-3, #f3f3f3);
    &__img {
        padding-top: 61px;
        display: block;
        margin: 0 auto;
    }
    &__title {
        color: var(--Grafite, #343d3b);
        font-family: $Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        span {
            color: var(--Gold, #d29f13);
        }
    }
    &__list {
        position: relative;
    }
    &__list li {
        position: absolute;
        max-width: 312px;
        color: var(--Grafite, #343d3b);
        font-family: $Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        background: url(../img/features-list.png) 1% 12% no-repeat;
        padding-left: 45px;
    }

    &__list li:nth-child(1) {
        top: 59px;
        right: 157px;
        max-width: 341px;
    }
    &__list li:nth-child(2) {
        top: 157px;
        left: 88px;
    }
    &__list li:nth-child(3) {
        top: 243px;
        right: 69px;
        max-width: 400px;
    }
    &__list li:nth-child(4) {
        top: 359px;
        left: 197px;
    }
}
